.createUser {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.createForm {
    width: 40rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    background: snow;
   text-align: center;
    padding: 0.5rem;
}

input {
    width: 98%;
    margin-bottom: 0.2rem;
}