.users {
    width: 50%;
    min-height: 5rem;
    background: snow;
    border-radius: 0.8rem;
    padding: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
}

.btn-create {
    width: 100%;
    text-align: center;

}

.btn-create > button {
    width: 11rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: green;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn-create > button:hover {
    background: yellow;
    color: green;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

li{
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    font-style: italic;
}