.user {
    justify-content: space-between;
    background: gainsboro;
    padding: 0.5rem;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    margin-bottom: 0.7rem;
}

.user-firstName, .user-email, .user-city {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: midnightblue;
}

.user-firstName {
    width: 25%;
}

.user-email {
    width: 35%;
    font-style: italic;
    text-transform: lowercase;
    font-size: 1.2rem;
}

.user-city {
    width: 20%;
}

.user-btn-block {
    width: 20%;
    justify-content: space-between;
}

.user-btn-block > button {
    width: 5.5rem;
    padding: 0.2rem;
}

.put {
    background: yellow;
    color: green;
    margin-right: 0.2rem;
}

.del {
    background: red;
    color: snow;
}

.put, .del {
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}